<!-- Product List -->
<mat-card class="product-list"
          *ngIf="(output$ | async) as list">
  <mat-card-header class="header">
    <mat-card-title>{{list.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let product of list.products">
        <div *ngIf="product.selected; else notSelected">
          <button mat-raised-button color="primary">
            {{product.nameAndCategory}}
          </button>
        </div>
        <ng-template #notSelected>
          <button mat-button (click)="onSelected(product.id)">
            {{product.nameAndCategory}}
          </button>
        </ng-template>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

