.header {
  border-bottom: 1px solid #dddddd;
}

table.details {
  text-align: left;
}

table.suppliers {
  text-align: left;
  border-collapse: collapse;
}
table.suppliers td, th {
  border-top: 1px solid #dddddd;
  padding: 10px;
}
table.suppliers th {
  border-bottom: 2px solid #dddddd;
}
