<!-- Product Details -->
<mat-card class="product-details"
          *ngIf="(output$ | async) as product">
  <mat-card-header class="header">
    <mat-card-title>{{product.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="details">
      <tr><td>Name:</td><td>{{product.name}}</td></tr>
      <tr><td>Code:</td><td>{{product.code}}</td></tr>
      <tr><td>Description:</td><td>{{product.description}}</td></tr>
      <tr><td>Price:</td><td>{{product.price}}</td></tr>
      <tr><td>Category:</td><td>{{product.categoryName}}</td></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <table class="suppliers"
           *ngIf="product.suppliers as suppliers">
      <tr>
        <th>Supplier</th>
        <th>Cost</th>
        <th>Minimum Quantity</th>
      </tr>
      <tr *ngFor="let supplier of suppliers">
        <td>{{supplier.name}}</td>
        <td>{{supplier.cost}}</td>
        <td>{{supplier.minQuantity}}</td>
      </tr>
    </table>
  </mat-card-footer>
</mat-card>
